/AnalizadorSintactico/AnalizadorLexico/build/
/AnalizadorSintactico/AnalizadorLexico/nbproject/private/
/Chronicles/AnalizadorLexico/build/
/Chronicles/AnalizadorLexico/nbproject/private/
/Chronicles/ChroniclesLex/build/
/Chronicles/ChroniclesLex/nbproject/private/